@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b88f0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Muli', sans-serif;
}

h3{
    color: #fff;
    text-align: center;
}

textarea{
    height: 100px;
    width: 500px;
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
    display: block;
    margin-bottom: 20px;
}

.tag{
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #f0932b;
    width: auto;
    border-radius: 30px;
    margin-right: 10px;
}

.tag.hightlight{
    background-color: #273c75;
}